* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #ffffff57, #ffffff5a), url(assets/web-bg.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}

/* Company Logo */
nav a:first-child {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 28px;

}
nav a:first-child img {
    width: 40px;
}

nav a span {
    font-family: "Pacifico", cursive;

}

/* Hamburger */
nav button:first-of-type {
    border: none;
    background-color: transparent;
    
}
nav button:first-of-type img {
    width: 40px;
}

/* Conversion Section */
section {
    margin: 20px 0;
    display: grid;
    align-items: center;
    width: 45vw;
    margin-inline: auto;
}

form {
    background-color: #1a1a1a1a;
    border: 2px solid var(#f1f1f1f1);
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: inherit;

}
h1 {
    font-family: "Moon Dance", cursive;
    text-align: center;
    font-size: 50px;
    margin-block: 2px;
}


.convert {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

label {
    font-size: 21px;
    color: darkgreen;
    margin-block: 10px;
}

.convert input, form button {
    border: none;
    outline: none;
    width: 500px;
    background-color: transparent;
    border-bottom: 4px solid #ffff;
    border-radius: 3px;
    padding: 2px 5px;
}
.convert select {
    border: none;
    outline: none;
    width: 500px;
    border-radius: 2px;
    text-align: center;
    padding: 5px 10px;

}

.convert input:first-of-type {
    margin-top: -6%;
    transition: ease-in-out .5s;
    padding-inline: 10px;

}
.convert input:first-of-type:focus {
    margin-top: 0.1%;
}



form button {
    padding-block: 8px;
    display: block;
    margin-inline: auto;
    background-color: #ffff;
    border-radius: 8px;
    margin-top: 20px;
    background-color: #0080009c;
    border-bottom: none;
}

form button:hover {
    background-color: #0080006a;

}

.convert div.output {
    /* border: 4px solid #ffff; */
    background-color: #fff;
    margin-top: 5px;
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 2px 5px;
    width: 500px;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
}


.output-error {
    color: red;
    border: 2px solid red;
}
.output-success {
    border: 2px solid green;
}

