* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #ffffff57, #ffffff5a), url(assets/web-bg.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}

/* Company Logo */
nav a:first-child {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 28px;

}
nav a:first-child img {
    width: 40px;
}

nav a span {
    font-family: "Pacifico", cursive;
    color: #228B22;
}

/* Hamburger */
nav button:first-of-type {
    border: none;
    background-color: transparent;
    position: relative;
}
nav button:first-of-type img {
    width: 40px;
}

/* Menu */
.menu {
    display: none;
    background-color: #ffff;
    position: fixed;
    top: 11.5%;
    /* border-start-end-radius: 20px;
    border-end-end-radius: 20px; */
    width: 100vw;
    height: 35vh;
    z-index: 50;
    padding: 20px 60px;
    max-height: 0;
    transition: ease-in-out 2s;
}
.show-menu {
    display: block;
    max-height: 35vh;
}

.close-btn{
    display: none;
    border: none;
    padding: 3%;
    border-radius: 100%;
    background-color: transparent;
    transition: ease-in-out .1s;
}
.btn-clicked {
    border: 2px solid #000;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .container-item {
    height: 350px
}
.container-heading {
    font-weight: 800;
    font-size: 32px;
    text-decoration: 5px underline #228B22;
    padding-bottom: 10px;
    color: #2F4F4F;


}
.container-inner {
    display: grid;
    grid-template-columns: auto;
    margin-top: 10px;
    gap: 5px;
    font-size: 18px;
    font-weight: 600;
}
.double-col {
    grid-template-columns: auto auto;
    column-gap: 40px;
}
.container-inner a {
    text-decoration: none;
    color: #2F4F4F;
    transition: ease-in-out .3s;
}
.container-inner a:hover {
    color: #2f4f4f80;
    margin-left: 10px;
}

/* Conversion Section */
section {
    margin: 20px 0;
    display: grid;
    align-items: center;
    width: 45vw;
    margin-inline: auto;
}

form {
    background-color: #1a1a1a1a;
    border: 2px solid var(#f1f1f1f1);
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: inherit;

}
h1 {
    font-family: "Moon Dance", cursive;
    text-align: center;
    font-size: 50px;
    margin-block: 2px;
}


.convert {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

label {
    font-size: 21px;
    color: darkgreen;
    margin-block: 10px;
}

.convert input, form button {
    border: none;
    outline: none;
    width: 500px;
    background-color: transparent;
    border-bottom: 4px solid #ffff;
    border-radius: 3px;
    padding: 2px 5px;
}
.convert select {
    border: none;
    outline: none;
    width: 500px;
    border-radius: 2px;
    text-align: center;
    padding: 5px 10px;

}

.convert input:first-of-type {
    margin-top: -6%;
    transition: ease-in-out .5s;
    padding-inline: 10px;

}
.convert input:first-of-type:focus {
    margin-top: 0.1%;
}



form button {
    padding-block: 8px;
    display: block;
    margin-inline: auto;
    background-color: #ffff;
    border-radius: 8px;
    margin-top: 20px;
    background-color: #0080009c;
    border-bottom: none;
}

form button:hover {
    background-color: #0080006a;

}

.convert div.output {
    /* border: 4px solid #ffff; */
    background-color: #fff;
    margin-top: 5px;
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 2px 5px;
    width: 500px;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
}


.output-error {
    color: red;
    border: 2px solid red;
}
.output-success {
    border: 2px solid green;
}

